src/main/java/moviestore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="movies" type="movieType"/>
    <xsd:complexType name="movieType">
        <xsd:sequence>
            <xsd:element name="title">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Spiderman"/>
                        <xsd:enumeration value="Cinderella"/>
                        <xsd:enumeration value="Deadpool 2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="studio">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="2"/>
                        <xsd:pattern value="( [A-Z] [a-z] )*"/>
                        <xsd:enumeration value="Warner brosers"/>
                        <xsd:enumeration value="Fox"/>
                        <xsd:enumeration value="Pixar"/>
                        <xsd:enumeration value="Disney"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="dateOfPublishing">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:date">
                        <xsd:enumeration value="2018-10-05"/>
                        <xsd:enumeration value="2018-12-10"/>
                        <xsd:enumeration value="2017-09-06"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="genre">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Horror"/>
                        <xsd:enumeration value="Drama"/>
                        <xsd:enumeration value="Comedy"/>
                        <xsd:enumeration value="Cartoon"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="language">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Ukrainian"/>
                        <xsd:enumeration value="Russian"/>
                        <xsd:enumeration value="English"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="price">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="120"/>
                        <xsd:minInclusive value="20"/>
                        <xsd:maxExclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quantity">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:totalDigits value="5"/>
                        <xsd:minExclusive value="1"/>
                        <xsd:maxExclusive value="10000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="rating">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="Awesome" type="xsd:string"/>
                        <xsd:element name="Good" type="xsd:string"/>
                        <xsd:element name="Normal" type="xsd:string"/>
                        <xsd:element name="Bad" type="xsd:string"/>
                        <xsd:element name="Awful" type="xsd:string"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="videoQuality">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="BlueRay" type="xsd:string"/>
                        <xsd:element name="HD" type="xsd:string"/>
                        <xsd:element name="DVDRip" type="xsd:string"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="producer">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="firstname" type="xsd:string"/>
                        <xsd:element name="lastname" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="description">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="512"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
