src/main/java/jaxbclasses/gamestore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="movies" type="movieType"/>
    <xsd:complexType name="movieType">
        <xsd:sequence>
            <xsd:element name="title">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Assassin's Creed Odyssey"/>
                        <xsd:enumeration value="Call of Duty: Black Ops 4"/>
                        <xsd:enumeration value="Destiny 2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="studio">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="2"/>
                        <xsd:pattern value="( [A-Z] [a-z] )*"/>
                        <xsd:enumeration value="Ubisoft"/>
                        <xsd:enumeration value="Activision"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="dateOfPublishing">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:date">
                        <xsd:enumeration value="2018-10-05"/>
                        <xsd:enumeration value="2018-12-10"/>
                        <xsd:enumeration value="2017-09-06"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="genre">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Action, RPG"/>
                        <xsd:enumeration value="Royal Battle, Action, Shooter, Royal Battle"/>
                        <xsd:enumeration value="Action, Shooter, Science-fiction"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="language">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Anvil engine"/>
                        <xsd:enumeration value="Modified IW 3.0"/>
                        <xsd:enumeration value="Tiger Engine"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="price">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:fractionDigits value="3"/>
                        <xsd:minInclusive value="1"/>
                        <xsd:maxExclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quantity">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:totalDigits value="5"/>
                        <xsd:minExclusive value="1"/>
                        <xsd:maxExclusive value="10000"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="rating">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="Awesome" type="xsd:string"/>
                        <xsd:element name="Great" type="xsd:string"/>
                        <xsd:element name="Good" type="xsd:string"/>
                        <xsd:element name="Normal" type="xsd:string"/>
                        <xsd:element name="Bad" type="xsd:string"/>
                        <xsd:element name="Awful" type="xsd:string"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="producer">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="firstname" type="xsd:string"/>
                        <xsd:element name="lastname" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
